<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBudget - Categorie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="dashboard">
    <nav class="navbar navbar-expand-lg bgCustom" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler bgCustomOrange " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse p-2 " id="navbarTogglerDemo01">
            <img class="rounded-2 m-2" src="/img/cecriesco-icona-neroSuBianco.PNG" alt="Logo paperella" width="60" height="60">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-color-custom" th:href="@{/main/dashboard}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-color-custom" aria-current="page" th:href="@{/spese}">Spese</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-color-custom" href="#">Risparmi</a>
              </li>
			  <li class="nav-item">
			  	<a class="nav-link text-color-custom" href="#">Categorie</a>
			  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-color-custom" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bilancio familiare
                </a>
                <ul class="dropdown-menu bgCustom">
                  <li><a class="dropdown-item text-color-custom" href="#">Rendiconto Generale</a></li>
                  <li><a class="dropdown-item text-color-custom" href="#">Rendiconto Mensile</a></li>
                  <li><a class="dropdown-item text-color-custom" href="#">F.A.Q.</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex align-items-center" role="search">
              <img class="rounded-circle " src="/img/avatar.jpg" alt="aaa" style="width: 50px; border: 2px solid grey; margin-right: 10px;">
              <button class="btn text-color-custom bgCustomOrange border-custom-black p-1" type="submit" style="height: fit-content;">LogOut</button>
            </form>
          </div>
        </div>
    </nav>
	<section>
		<div th:if="${erroriInserimento}">
			<div class="container d-flex my-3 p-2 align-items-center" style="background-color: white; 
				border: 2px solid red; border-radius: 6px;" >
				<span>
					<img src="/img/img-danger.jpg" style="width: 40px; height: auto;">
				</span>
				<h4 class="pt-2 px-2 text-center">Attenzione: l'inserimento della nuova categoria non è andato a buon 
						fine... Riprova</h4>
				<span>	
					<img src="/img/img-danger.jpg" style="width: 40px; height: auto;">
				</span>
			</div>
		</div>
		<div th:if="${inserimentoCorretto}" class="container my-3">
			<div class="card p-2 shadow-lg" role="alert" aria-live="assertive" aria-atomic="true">
			  <div class="toast-header">
			    <img src="/img/img-success.jpg" class="me-2" style="width: 25px; height: auto;">
			    <strong class="me-auto">Inserimento Categoria</strong>
			    <a type="button" class="btn-close" data-bs-dismiss="card" aria-label="Close"
					th:href="@{/categorie/cleantoast}"></a>
			  </div>
			  <div class="toast-body" th:text="|Inserimento categoria ${nomeCategoriaInserita} avvenuto con successo|">  
			  </div>
			</div>
	</section>
	<section class="container py-4">
		<div class="card mb-4 bgCustom shadow-lg my-1 p-2" style=" border: 1px solid lightgray;
					border-radius: 6px;">
			<div>
				<h3 class="m-2">
					Ricerca categorie...
				</h3>
				<form class="p-3 w-auto" role="search" method:"get" th:object="${Spesa}" th:action="@{/ricerca}">
					<div class="row " style="border: 1px solid lightgray;
							 background-color:whitesmoke; border-radius: 6px;">
						<div class="col-12 my-3" >
							<input style="width: 100%;color: grey; border: 1px solid lightgray; border-radius: 6px; padding: 3px;" 
								type="text" name="input" placeholder="Ricerca per testo..." aria-label="Search">							
						</div>
						<div class="row d-flex justify-content-between mb-3 mx-lg-0">
							<div class="col-6 col-lg-4 mb-3">
								<span class="">Dal... </span>
							   	<input type="date" name="data-inizio"  aria-label="Search"
									style="color: grey; border: 1px solid lightgray; border-radius: 6px; padding: 3px;">
							</div>
							<div class="col-6 col-lg-4 mb-3">
								<span class="">Al...</span>							
								<input type="date" name="data-fine"  aria-label="Search"
									style="color: grey; border: 1px solid lightgray; border-radius: 6px; padding: 3px;">						
							</div>
							<div class="col-12  text-center col-lg-4 text-lg-end">
							    <button class="btn bgCustomOrange border-custom-black ms-2" type="submit">Cerca</button>
								<a class="btn bgCustomOrange border-custom-black" th:href="@{/spese}">Annulla</a>		
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>  
	    <!-- elenco -->
	<section>
	    <div class="container py-4 ">
	              <div class="card mb-4 bgCustom shadow-lg ">
	                <div class="d-flex justify-content-between p-2">
	                  <h3>Elenco Categorie...</h3>
					  <div class="d-flex justify-content-end">
		                  <button type="button" class="btn bgCustomOrange border-custom-black"
						  	data-bs-toggle="modal" data-bs-target="#modale-categoria-spesa"
							th:href="@{/categorie/create}">
							Aggiungi categoria</button>
					  </div>
	                </div>
	                <div class="border m-2 rounded">
	                  <div class="card-body p-0" style="background-color: white;">
						<table id="table-1" class="table table-striped align-items-center"
							th:unless="${listaCategorie.isEmpty()}">
							<thead>
								<tr>
									<th class="col-2"></th>
									<th class="col-5">Nome</th>
									<th class="col-2">Tipo</th>
									<th class="col-3" style="text-align: center;"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="categoriaSpesa : ${listaCategorie}">
									<td class="text-center" style="vertical-align: middle;">
										<img th:src="${categoriaSpesa.icona.getUrl()}">
									</td>
									<td>
										<span th:text="${categoriaSpesa.getNome()}"></span> 
									</td>
									<td>
										<span th:text="${categoriaSpesa.getTipo()}"></span>
									</td>
									<td class="d-flex justify-content-center gap-1">
										<button type="button" class="btn bgCustomOrange border-custom-black"
											  	data-bs-toggle="modal" data-bs-target="#modale-dettaglio-categoria"
												th:href="@{|/categorie/show/${categoriaSpesa.id}|}">
											<i class="bi bi-info-square"></i>
										</button>
								<!--
										<button type="button" class="btn bgCustomOrange border-custom-black p-2" 
												data-bs-container="body" data-bs-toggle="popover" 
												data-bs-placement="bottom" 
												data-bs-content="ciao">
											
										</button>
										<a class="btn bgCustomOrange border-custom-black p-2"
											th:href="@{|/categorie/edit/${categoriaSpesa.id}|}"><i class="bi bi-pencil"></i>
										</a>
										<form th:action="@{'/categorie/delete/{id}'(id=${categoriaSpesa.id})}"
											method="post">
											<button class="btn border-custom-black p-2" type="submit" id="submitButton"
												style="background-color: red; color: whitesmoke;"
												th:data-confirm-delete="|Sei sicuro di voler cancellare la categoria?|"
												onclick="if(!confirm(this.getAttribute('data-confirm-delete'))) return false">
												<i class="bi bi-trash"></i>
											</button>
										</form>
								-->
									</td>	
								</tr>
							</tbody>
						</table>	
			<div th:if="${listaCategorie.isEmpty()}">
				<span> Non sono presenti Categorie nel DataBase </span>
			</div>
	                  </div>
	                </div>
	              </div>
	    </div>
	</section>	
      <!-- /Dashboard -->

	  
	 <!-- Modale -->
	 <form id="nuova-categoria-spese-form"
	 	th:object="${categoriaSpesa}" 
	 	th:action="@{/categorie/create}"
	 	method="post">
	 	<div class="modal fade" id="modale-categoria-spesa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	 	<div class="modal-dialog modal-dialog-centered">
	 			<div class="modal-content">
	 						<div class="modal-header" style="background-color:white">
	 							 <h1 class="modal-title fs-5" id="exampleModalLabel">Inserimento nuova categoria di spesa</h1>
	 								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	 						</div>
							<div class="modal-body	bgCustom">
								<div class="col-12 mb-3">
									<label for="categoria-spesa-nome-input" class="form-label">Nome della categoria</label>
									<input type="text" class="form-control" 
										id="categoria-spesa-nome-input" placeholder="Inserisci il Nome della categoria..."
										th:field="*{nome}" 	th:errorClass="is-invalid" >
										<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
											<ul>
												<li th:each="err : ${#fields.errors('nome')}" 
													th:text="${err}">
												</li>
											</ul>
										</div>
								</div>
								<div class="col-12 mb-3">
									<label for="categoria-spesa-note-input" class="form-label">Descrizione</label>
									<textarea class="form-control" 
										id="categoria-spesa-note-input" placeholder="Inserisci una descrizione della categoria..."
										th:field="*{note}" 	th:errorClass="is-invalid" >
									</textarea>
									<div th:if="${#fields.hasErrors('note')}" class="invalid-feedback">
										<ul>
											<li th:each="err : ${#fields.errors('note')}" 
												th:text="${err}">
											</li>
										</ul>
									</div>
								</div>	
								<div class="col-12 mb-3">
									<label for="categoria-spesa-icona-select" class="form-label">Seleziona l'icona</label>
									<input type="text" class="form-control" data-bs-toggle="dropdown" aria-expanded="false" 
											placeholder="Seleziona l'icona..."
											id="categoria-spesa-icona-select" >
											<div class=" dropdown-menu" style="max-height: 15vh; overflow-y: scroll; padding: 5px; width: 93%;">
													<span th:each="icona : ${iconaList}">
														<button type="radio"  name="icona" 
																class="col-1 mb-4" style="margin: 3px;"
																th:value="${icona.id}" th:field="*{icona}" th:errorClass="is-invalid">
															<img th:src="${icona.getUrl()}">
														</button>													
													</span>																							
											</div>
											<div th:if="${#fields.hasErrors('icona')}" class="invalid-feedback">
												<div th:errors="*{icona}"></div>
											</div>
								</div>
								<div class="col-12 mb-3 d-flex justify-content-between">
									<div class="col-6">
									  <input type="radio" name="spesa-radio" id="radio-categoria-spesa" value="spesa" th:field="*{tipo}" 
									  th:errorClass="is-invalid"  class="form-check-input" >
									  <label for="radio-categoria-spesa">Categoria di spesa</label>
									</div>
									<div class="col-6">
									  <input  type="radio" name="introito-radio" id="radio-categoria-introito" value="introito" th:field="*{tipo}"
									  th:errorClass="is-invalid" class="form-check-input">
									  <label  for="radio-categoria-introito">Categoria di introito</label>										
									</div>
									<div class="invalid-feedback">More example invalid feedback text</div>
									<div th:if="${#fields.hasErrors('tipo')}" class="invalid-feedback">
										<ul>
											<li th:each="err : ${#fields.errors('tipo')}" 
												th:text="${err}">
											</li>
										</ul>
									</div>
								</div>	
								<div th:if="${#fields.hasAnyErrors()}" style="color: red;">
									<ul>
										<li th:each="err : ${#fields.globalErrors()}">
											<span th:text="${err}" />
										</li>
									</ul>
								</div>
														
							</div>		
	 					<div class="modal-footer" style="background-color:whitesmoke">
	 						<button type="submit" class="btn bgCustomOrange border-custom-black">
	 								Salva</button>
							<a class="btn bgCustomOrange border-custom-black" th:href="@{/categorie}">Annulla</a>
	 					</div>
	 				</div>
	 			</div>
	 		</div>
	 </form>
		
 	<!-- Modale dettaglio categoria -->
	<div th:object="${categoriaSpesa}"
		th:action="@{|/categorie/show/${categoriaSpesa.id}|}">
		<div class="modal fade" id="modale-dettaglio-categoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog 	modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="staticBackdropLabel" 
					th:text="|Dettaglio della categoria ${categoriaSpesa.getId()}|"></h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>